[MESSAGES CONTROL]
disable=invalid-name,
        line-too-long,
        no-member,
        bad-continuation,
        no-self-use,
        inconsistent-return-statements,
        missing-docstring,
        too-few-public-methods,
        unused-variable,
        too-many-branches,
        no-value-for-parameter

