site_name: OGC
repo_url: https://github.com/adam-stokes/ogc
theme: 
    name: material
    palette:
        scheme: slate
        primary: green
    features:
        - navigation.instant
        - navigation.expand
        - navigation.top
        - toc.integrate
        - toc.follow
    font:
        text: Ubuntu
        code: Ubuntu Mono        
markdown_extensions:
    - toc:
        permalink: True
    - admonition
    - smarty
    - wikilinks
    - codehilite:
        linenums: True
    - pymdownx.arithmatex
    - pymdownx.betterem:
        smart_enable: all
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji:
        emoji_generator: !!python/name:pymdownx.emoji.to_svg
    - pymdownx.inlinehilite
    - pymdownx.magiclink
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tasklist:
        custom_checkbox: True
    - pymdownx.tilde
nav:
  - 'Getting Started': 'index.md'
  - 'User Guide':
    - 'Managing a deployment': 'user-guide/managing-nodes.md'
    - 'Defining Layouts': 'user-guide/defining-layouts.md'
    - 'Scripting': 'user-guide/scripting.md'
    - 'Providers': 'user-guide/providers.md'
    - 'Reference Commands':
        - "ogc": 'commands/ogc.md'
        - "ogc db-migrate": 'commands/ogc-db-migrate.md'
        - "ogc exec-scripts": 'commands/ogc-exec-scripts.md'
        - "ogc exec": 'commands/ogc-exec.md'
        - "ogc init": 'commands/ogc-init.md'
        - "ogc inspect": 'commands/ogc-inspect.md'
        - "ogc launch": 'commands/ogc-launch.md'
        - "ogc log": 'commands/ogc-log.md'
        - "ogc ls-key-pairs": 'commands/ogc-ls-key-pairs.md'
        - "ogc ls": 'commands/ogc-ls.md'
        - "ogc pull-artifacts": 'commands/ogc-pull-artifacts.md'
        - "ogc pull-files": 'commands/ogc-pull-files.md'
        - "ogc push-files": 'commands/ogc-push-files.md'
        - "ogc rm-all": 'commands/ogc-rm-all.md'
        - "ogc rm-key-pairs": 'commands/ogc-rm-key-pairs.md'
        - "ogc rm": 'commands/ogc-rm.md'
        - "ogc server": 'commands/ogc-server.md'
        - "ogc shell": 'commands/ogc-shell.md'
        - "ogc ssh": 'commands/ogc-ssh.md'
        - "ogc status": 'commands/ogc-status.md'
