name = "ci"

[ssh-keys]
private = "~/.ssh/id_rsa_libcloud"
public = "~/.ssh/id_rsa_libcloud.pub"

[layouts.elastic-agent-ubuntu]
# artifacts = "/home/ubuntu/output/*.xml"
exclude = [ ".git", ".venv", "artifacts" ]
extra = { }
include = [ ]
instance-size = "e2-standard-4"
ports = [ "22:22", "80:80", "443:443", "5601:5601" ]
provider = "google"
remote-path = "/home/ubuntu/ogc"
runs-on = "ubuntu-2004-lts"
scale = 5
scripts = "fixtures/ex_deploy_ubuntu"
tags = [  ]
username = "ubuntu"

    [layouts.elastic-agent-ubuntu.labels]
    division = "engineering"
    org = "obs"
    team = "observability"
    project = "perf"

[layouts.elastic-agent-windows]
artifacts = "output\\*.xml"
exclude = [ ".git", ".venv", "artifacts" ]
extra = { }
include = [ ]
instance-size = "c5.2xlarge"
ports = [ "22:22" ]
provider = "aws"
remote-path = "ogc-src"
runs-on = "windows-2019"
scale = 0
scripts = "fixtures/ex_deploy_windows"
tags = [ "elastic-agent-8.1.x", "windows-aws" ]
username = "ogc"