[tool.poetry]
name = "ogc"
version = "0.1.5"
description = "gangstarr"
authors = ["Adam Stokes <battlemidget@users.noreply.github.com>"]

[tool.poetry.dependencies]
python = "^3.6"
click = "^7.0"
sh = "^1.12"
melddict = "^1.0"
toml = "^0.10.0"
launchpadlib = "=1.10.6"
kv = "^0.3.0"
juju-wait = "=2.7.0"
juju = "^0.11.7"
pyyaml = "=3.13"
jinja2 = "^2.10"
semver = "^2.8"
staticjinja = "^0.3.5"
python-box = "^3.4"
boto3 = "^1.9"
awscli = "^1.16"
pyyaml-include = "^1.1"
requests = "^2.22"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
ipdb = "^0.12.0"

[tool.poetry.scripts]
ogc = 'ogc:app.start'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
